
@{
    ViewData["Title"] = "Odmowa dostępu";
}

<div class="text-center">
    <h2>Odmowa dostępu</h2>
    <p>Błędne hasło</p>
    <a asp-controller="Account" asp-action="Login" class="btn btn-danger">Cofnij</a>
    <hr />
</div>
<div class="text-center">
    <img class="card-img-top" style="width:500px" src="~/images/reject.png" />
</div>