@model Biuro_Podróży.Models.Wycieczka
@{
    ViewData["Title"] = "Edycja";
}

<h2>Edycja wycieczki</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_wycieczki" />
            <div class="form-group">
                <label asp-for="Miejsce" class="control-label"></label>
                <input asp-for="Miejsce" class="form-control" />
                <span asp-validation-for="Miejsce" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_start" class="control-label">Początek</label>
                <input asp-for="Data_start" class="form-control" />
                <span asp-validation-for="Data_start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_end" class="control-label">Koniec</label>
                <input asp-for="Data_end" class="form-control" />
                <span asp-validation-for="Data_end" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_jedzenia" class="control-label">Jedzenie</label>
                <select asp-for="Id_jedzenia" class="form-control" asp-items="ViewBag.Id_jedzenia"></select>
                <span asp-validation-for="Id_jedzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_zakwaterowania" class="control-label">Zakwaterowanie</label>
                <select asp-for="Id_zakwaterowania" class="form-control" asp-items="ViewBag.Id_zakwaterowania"></select>
                <span asp-validation-for="Id_zakwaterowania" class="text-danger"></span>
            </div>
            <img class="card-img-top" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Image)" alt="Podgląd"
                 style="border:1px ;margin-top:20px;" />
            <div class="form-group">
                <input type="file" id="Imageinput" asp-for="Image" class="form-control" name="Image"
                       onchange="document.getElementById('logoImage').src = window.URL.createObjectURL(this.files[0])" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <br />
            <input type="submit" value="Edytuj" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-danger">Cofnij</a>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
