@using Microsoft.AspNetCore.Http;
@model IEnumerable<Biuro_Podróży.Models.Wycieczka>
@{
    ViewData["Title"] = "Wycieczki";
}
<h2>Wycieczki</h2>

<div class="center-block" align="center">
    @foreach (var wycieczka in Model)
    {
    <div class="center-block">
        <div class="card-header">
            <h3>@wycieczka.Miejsce</h3>
        </div>
        <img class="card-img-top" style="width:500px" src="data:image/jpg;base64,@Convert.ToBase64String(wycieczka.Image)" />
        <div class="card-footer text-center">
            <a asp-action="Details" asp-controller="Wycieczka" asp-route-id="@wycieczka.Id_wycieczki" class="btn btn-info">Szczegóły</a>
            <a asp-action="Edit" asp-controller="Wycieczka" asp-route-id="@wycieczka.Id_wycieczki" class="btn btn-primary">Edycja</a>
            <a asp-action="Delete" asp-controller="Wycieczka" asp-route-id="@wycieczka.Id_wycieczki" class="btn btn-warning">Usuń</a>
        </div>
    </div>
    }
</div>