@using Microsoft.AspNetCore.Http;
@model IEnumerable<Biuro_Podróży.Models.Wycieczka>
@{
    ViewData["Title"] = "Strona Główna";
}
<h2>Strona Główna</h2>

<h1>Tutaj zmienić bo to strona główna</h1>
<a asp-action="Index" asp-controller="Wycieczka" class="btn btn-primary">Wycieczki</a>